.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  flex: auto;
  text-align: center;
}

#heat-map-container {
  flex: auto;
}

#legend-container {
  flex: auto;
}